# Virtual environment
UKE/

# Python cache
__pycache__/
*.pyc
*.pyo

# Raw data
Data/raw/
Data/processed/master.parquet
Data/processed/master_clean.parquet

# Notebooks
Notebooks/

# Training outputs
Outputs/

# Node modules
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# Environment
.env